:root{
    --primary-color: #0077B6;  /* Deep Ocean Blue */
    --secondary-color: #00B4D8;  /*Bright Blue*/
    --accent1-color: #90E0EF;   /* Soft Aqua */
    --accent2-color:#CAF0F8;   /* Light Sky */
    --heading-font: "Bebas Neue", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  var(--body-font);
    color: var(--accent1-color);
    
}

header, main, footer{
    width: 900px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}


/* consistent margin and padding declarations */
nav, p, section,article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
    margin-bottom: 2rem;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;

}

.hero h1{
     position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    background-color: var(--accent1-color); /* accent1 with transparency */
    padding: 1rem;
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    margin: 0 auto;
    width: 100%;
}

.hero article{
    position: absolute;
    top: 90px;
    background-color: var(--accent2-color);
    padding: 16px;
    color: #333;
    border-left: 8px solid var(--primary-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-top: 2rem;

}
.hero article p{
    margin: 0;
    padding: 0;
    color: #333;
}
.hero article img{
    float: right;
    width: 125px;
    margin-left: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
}


