:root{
    --padding: 10px;
    --img-width: 150px;
    --border:  1px solid #000;
    --centered-text-align: center;
    --main-image-width: 150px;
    --darkblue-color: darkblue;
    --auto-height: auto;
}
nav{
    background-color: var(--darkblue-color);
    padding: var(--padding);
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--darkblue-color);
}

main img{
    height: var(--auto-height);
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray ;
}

p{
    padding: var(--padding);
}

main{
    max-width: 840px;
}

main img{
    width: var(--main-image-width);
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: var(--padding);
    background-color: #eee;
    color: #333;
    text-align: var(--centered-text-aligntext-align);
}

aside img{
    width: 200px;
    height: var(--auto-height);
}

p{
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--centered-text-align);
}